~
node_modules/
dist/
*.orig
*.log
*.tgz
.cache
.DS_Store
.idea
coverage/
test-reports/*
!test-reports/.gitkeep
*.tsbuildinfo
pnpm-debug.log*
.pnpm-store/
.vscode/*
!.vscode/extensions.json
!.vscode/mcp.json
!.vscode/settings.json
.env*
!.env*.example
