on:
    push:
        branches: ['**']
        # branches: [master, feat/**, fix/**]
        # branches: [feat/**, fix/**]
        # pull_request:
        #   branches: [master]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  check-latest: true
                  cache: 'npm'
            - run: npm ci
            - run: npm run build
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  check-latest: true
                  cache: 'npm'
            - run: npm ci
            - run: npm run lint
    types:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  check-latest: true
                  cache: 'npm'
            - run: npm ci
            - run: npm run check-types
    format-check:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  check-latest: true
                  cache: 'npm'
            - run: npm ci
            - run: npm run format-check
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  check-latest: true
                  cache: 'npm'
            - run: npm ci
            - run: npm run test-run
